.content{
  width:60%;
  float:left;
  padding:0 0 0 30px;
  background:#4d2d48;
  height:100%
}
.sidebar{
  width:40%;
  float: right;
  padding:10px;
  background:green;
  height:100%;
}
h1{
  text-align: center;
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;
}
body{
  color: cyan;
  background: #4d2d48;
}
#date{
  color: yellow;
}
a{
  color: #d63131;
}
input{
  color: white;
  background: blue;
}
#ch{
  color: yellow;
  font-size: 30px;
  font-style: italic;
  border-bottom: 2px solid yellow;
}
span{
  font-size: 40px;
  color: yellow;
  font-weight: bold;
}
